/*
Cores Primarias
Azul: #0071a2
Rosa: #ff0688
Cinza: #686868
Preto: #000000
*/

body {
    background: #e9ecf3;
    color: #686868;
}

body,
html {
    height: 100%;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

.boxed {
    padding: 40px;
    height: 100%;
}

.btn-thema {
    background: #ff0688;
    color: #FFF;
}

.btn-thema:hover {
    background: #ec017c;
    color: #FFF;
}

.badge-thema {
    background: #ff0688;
    color: #FFF;
}

.form-control.hasError {
    border: 1px solid #E00;
}

.form-control.hasSuccess {
    border: 1px solid green;
}

.form-control.hasError.important {
    border: 1px solid #E00 !important;
}

.hide {
    display: none;
}

fieldset+.modal-footer {
    border: 0;
}


/* HELPERS - CUSTONS */

.row {
    margin: 0;
}

fieldset {
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
}

.checked-success .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #00000047;
    background-color: #28a745;
}

.checked-danger .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #00000047;
    background-color: #dc3545;
}

.tab-content {
    padding: 20px;
}

.card-body .form-row {
    margin: 0;
}

.list-details li {
    padding: 6px 0 6px 5px;
    border-bottom: 1px solid #e9ecef;
}

li.divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}


/* HELPERS - CUSTONS */

header {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    header {
        margin-bottom: 20px;
    }
}

header .topHeader {
    background: #0071a2;
    padding: 10px;
    margin-bottom: 20px;
}

header .topHeader h2 {
    color: #FFF;
    margin: 0;
    font-size: 1.6rem;
}

footer {
    position: relative;
    top: 20px;
    left: 0;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 12px;
}

div#logo {
    margin: 14px 0;
}

.header-toolbar {
    display: inline-block;
}

.header-toolbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-toolbar ul li {
    display: inline-block;
    border-right: 1px solid #2f2f2f29;
    box-shadow: 1px 0 1px #ffffff1c;
    margin-left: -4px;
}

.header-toolbar ul li:last-child {
    border-right: 0;
    box-shadow: none;
}

.header-toolbar ul li a {
    padding: 15px 22px;
    display: block;
    color: #FFF;
}

.header-toolbar ul li a:hover {
    background: #ffffff1a;
}


/* Coluna lateral */

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

nav {
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #DDD;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

nav ul li {
    display: list-item;
    padding: 0 0 1px 0;
}

nav ul li a {
    padding: 15px 20px;
    display: block;
    color: #646464;
    transition: 0.3s all ease;
}

nav ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

nav ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

nav ul li.active a,
nav ul li a:hover {
    color: #FFF;
    background: #0071a2;
    padding-left: 25px;
}


/* Conteudo Central */

.page-heading {
    margin: 0 0 20px 0;
}

.page-heading h1 {
    color: #0071a2;
    font-size: 1.8rem;
    margin: 0 0 10px 0;
}

.sub-heading h2 {
    color: #0071a2;
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}

ul.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.breadcrumb li {
    display: inline-block;
    padding: 0 5px 0 0;
}

ul.breadcrumb li+li:before {
    content: '• '
}

ul.breadcrumb li a {
    font-size: 0.9rem;
    color: #ff0688;
}

ul.breadcrumb li:last-child a {
    color: #686868;
}


/* Conteudo Central */


/* Widget's */

.widget.box-rounded {
    text-align: center;
}

.widget.box-rounded .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background: #37adef;
    color: #FFF;
    border-radius: 100%;
    font-weight: bold;
    font-size: 24px;
}

.widget.box-rounded .icon.success {
    background: #28a745;
}

.widget.box-rounded .icon.danger {
    background: #dc3545;
}

.widget.box-rounded .icon.primary {
    background: #6c757d;
}

.widget.box-rounded .content p {
    font-size: 11px;
    font-weight: bold;
    margin: 5px 0 0 0;
}


/* Widget's */


/* Listagem de Codigos */

@media (min-width: 992px) {
    .col-code {
        max-width: 400px !important;
        flex: 0 0 40%;
    }
}

@media (min-width: 768px) {
    .col-code {
        max-width: 400px !important;
        flex: 0 0 50%;
    }
}

@media (max-width: 768px) {
    .navMenu.collapse {
        left: -2000px;
        transition: 0.4s all ease;
        display: block;
    }
    .navMenu {
        display: block;
        height: auto;
        transition: 0.4s all ease;
        position: absolute;
        top: -120px;
        left: 0;
        width: 100%;
    }
}

.navMenu.navMenu-monitor {
    display: block;
    height: auto;
    transition: 0.4s all ease;
    position: absolute;
    top: 34px;
    left: 10px;
    width: 250px;
    z-index: 22;
    border-radius: 0;
}

.navMenu.navMenu-monitor * {
    border-radius: 0;
}

.navMenu.navMenu-monitor.collapse {
    left: -3000px;
    transition: 0.4s all ease;
    display: block;
}

ul.list-codes {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.list-codes li {
    display: inline-block;
    padding: 0 10px 10px 0;
}

ul.list-codes li a.code {
    padding: 3px 7px;
    background: #000000b8;
    color: #FFF;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.8px;
    transition: 0.2s all ease;
    display: block;
    border-radius: 4px;
}

ul.list-codes li a.code:hover {
    background: #000;
}

.box-monitoracao .card-body .card-title {
    color: #0071a2;
}

.box-monitoracao .card-body ul.list-codes li a.code {
    background: #0071a2;
    color: #FFF;
}

.box-atrasados .card-body ul.list-codes {
    margin-top: -25px;
}

.box-atrasados .card-body .card-title {
    font-size: 14px;
    display: inline-block;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: bold;
    top: -35px;
    margin: 0;
    position: relative;
}

.box-atrasados .card-body.card-warning .card-title,
.box-atrasados .card-body.card-warning ul.list-codes li a.code {
    background: #ffeb05;
    color: #000;
}

.box-atrasados .card-body.card-danger .card-title,
.box-atrasados .card-body.card-danger ul.list-codes li a.code {
    background: #ee0000;
    color: #FFF;
}

.box-atrasados .card-body.card-dark .card-title,
.box-atrasados .card-body.card-dark ul.list-codes li a.code {
    background: #000;
    color: #FFF;
}

@media screen and (max-width:767px) {
    .table thead {
        display: none;
    }
    .table tbody tr {
        padding: 15px 0;
        display: block;
    }
    .table tbody tr td {
        width: 100%;
        display: block;
        border: 0;
        padding: 2px 15px;
    }
}

.table-dark,
.table-dark>th,
.table-dark>td {
    background: #333;
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background: #111;
    color: #FFF;
}

.table-dark>td a {
    color: #FFF
}

.table-dark>td a:hover {
    color: #ff0688
}

.page-fullheight,
.page-fullheight .container-fluid,
.page-fullheight .container-fluid .row,
.page-fullheight .container-fluid .row section,
.page-fullheight .container-fluid .row section .card.card-central {
    min-height: 100%;
}

.page-fullheight .container-fluid .row.box-monitoracao {
    min-height: 45% !important;
}

.page-fullheight .container-fluid .row.box-monitoracao .card {
    min-height: 100%;
}

.page-fullheight .container-fluid {
    min-height: calc(100% - 70px);
}

@media (max-width: 768px) {
    .page-fullheight .container-fluid,
    .page-fullheight,
    .page-fullheight .container-fluid,
    .page-fullheight .container-fluid .row,
    .page-fullheight .container-fluid .row section,
    .page-fullheight .container-fluid .row section .card.card-central {
        height: auto;
    }
}

.card-widget-home {
    text-align: center;
}

.card-widget-home .icon {
    background: #ff0688;
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    margin-bottom: 20px;
}

.card-widget-home .icon a {}

.card-widget-home h4 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.card-widget-home h4 a {
    color: #333;
}

.card-widget-home .icon a {
    color: #FFF
}

.card-widget-home h4 a:hover,
.card-widget-home .icon a:hover {
    text-decoration: underline;
}


/* Listagem de Codigos */