<template>
    <div class="card card-central">
    <div class="card-body px-0">
      <div class="row box-monitoracao mb-5">
        <div class="col-xs-12 col-md-4">
          <step label="Checkins" v-model="steps.checkins" />
        </div>
        <div class="col-xs-12 col-md-4">
            <step label="Lavagem" v-model="steps.lavagens" />
        </div>
        <div class="col-xs-12 col-md-4">
            <step label="Secagem" v-model="steps.secagens" />
        </div>
      </div>

      <div class="row box-monitoracao">
        <div class="col-xs-12 col-md-4">
            <step label="Acabamento" v-model="steps.acabamentos" />
        </div>

        <div class="col-xs-12 col-md-4">
            <step label="Finalizado" v-model="steps.finalizados" />
        </div>

        <div class="col-xs-12 col-md-4">
            <step label="Aguardando" v-model="steps.aguardando" />
        </div>


      </div>
    </div>
  </div>
</template>

<script>
    import Step from './Step'

    export default {
        name: "Monitor",

        props: {
            source: String
        },

        components: {
            Step
        },

        data() {
            return {
                steps: {},
                alias: {
                    checkin: 'checkins',
                    secagem: 'secagens',
                    lavagem: 'lavagens',
                    acabamento: 'acabamentos',
                    finalizado: 'finalizados',
                    checkout: 'finalizados',
                    waiting: 'aguardando'
                }
            }
        },

        methods: {
            refresh(attendance = {}) {
                 const { number_id = false, current_step = 'cheking', code} = attendance;
                 const step_alias = this.alias[current_step];


                 for(let step in this.steps) {
                    // read
                    const rows = this.steps[step];
                    const index = rows.findIndex(h => h.number_id == number_id && h.code == code);

                    if(index > -1) {
                        // remover do passo atual
                        console.log('remover de %s: ', step_alias);
                        // this.steps[step_alias]
                        rows.splice(index, 1);
                        break;
                    }
                }
                this.add(attendance);
            },

            add(attendance) {
                const { number_id = false, current_step = 'checkin', code } = attendance;
                const step = this.alias[current_step]

                if(!this.steps[step]) {
                    throw 'falhou! não localizamos o step: ' + step;
                }

                this.steps[step].push({
                    number_id,
                    code
                })
            },

            remove(attendance) {
                console.log(attendance);
                const { number_id = false, current_step = 'checkin', code } = attendance;
                const step = this.alias[current_step]

                if(!this.steps[step]) {
                    throw 'falhou! não localizamos o step: ' + step;
                }

                const index = this.steps[step].findIndex(h => h.number_id == number_id && h.code == code);

                if(index > -1) {
                    this.steps[step].splice(index, 1);
                    // throw 'falhou! não localizamos o registro na lista de ' + step;
                }
            }
        },

        created() {

            this.steps = JSON.parse(this.source);

            // this.refresh();

            window.Echo
                .channel('monitor')
                .listen('.App\\Events\\NewAttendanceEvent', e => this.add(e.attendance))
                .listen('.App\\Events\\UpdateAttendanceEvent', e => this.refresh(e.attendance))
                .listen('.App\\Events\\RemoveAttendanceEvent', e => this.remove(e.attendance))
                .notification(notification => console.log('notify', notification))
        }
    }
</script>

<style lang="scss" scoped>

</style>
