<template>
    <div class="card">
        <div class="card-body text-center p-2">
            <h4 class="card-title">{{ label }}</h4>
            <p class="mb-1">total: {{ value.length }}</p>

            <ul class="list-codes">
                <li v-for="(item,index) in value" :key="index">
                    <a :href="`buscar?code=${item.number_id}`" class="code">{{ item.number_id }}</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            value: [Array],
            label: String
        }
    }
</script>

<style lang="scss" scoped>

</style>
